body {
    background-color: black;
    color: white;
    font-family: "Source Code Pro", monospace; 
}
.titulo {
    position: fixed;
    background-color: rgb(26, 24, 24);
    width: 100%;
    margin: -10px;
    padding-left: 1100px;
}
img {
    width: 500px;
}